@font-face {
font-family: "NokiaFont";
src: url("fonts/nokia-font.ttf");
}

body {
    margin: 0;
    background-image: url("images/arcade-wallpaper.jpg");

}

.arcade-machine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    bottom: 0;
    position: relative;
    background: url(images/Arcade-Classics-frame-900px.png) no-repeat center center fixed;
    -webkit-background-size: 900px;
    -moz-background-size: 900px;
    -o-background-size: 900px;
    background-size: 900px;

}
.board-header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: #8fbc8f;
    background-color: #475947;
    padding: 9px 9px 0 9px;
    flex-grow: 1;
    font-family: NokiaFont, sans-serif;
    font-size: 1.2rem;
}
.game-container {
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: darkseagreen;

}

.snake-logo-animation {
    background: url(images/snake.jpeg) no-repeat center center fixed;
    -webkit-background-size: 540px;
    -moz-background-size: 540px;
    -o-background-size: 540px;
    background-size: 540px;
    animation: logo-flashing 1s ease-in-out infinite alternate;
}

@keyframes logo-flashing {
  0%   {filter: invert(0);}
  10%  {filter: invert(0);}
  20%  {filter: invert(0);}
  30%  {filter: invert(0);}
  40%  {filter: invert(0);}
  50%  {filter: invert(0);}
  60%  {filter: invert(20%);}
  70%  {filter: invert(40%);}
  80%  {filter: invert(60%);}
  90%  {filter: invert(80%);}
  100% {filter: invert(100%);}
}

.row{
    display: inherit;
    /*padding: 0 9px 0 9px;*/
}
.board-field{
    width: 24px;
    height: 24px;
    text-align: center;
}
.game-board{
    display: inherit;
    flex-direction: column;
    /*padding: 0 9px 0 9px;*/
    border: 9px solid #475947;
}
.snake,
.snake-tail,
.snake-head{
    background-color: yellow;
}