@font-face {
font-family: "NokiaFont";
src: url("fonts/nokia-font.ttf");
}
body {
    margin: 0;
    background: url(images/arcade-wallpaper.jpg) no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.arcade-machine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    bottom: 0;
    position: relative;
    background: url(images/Arcade-Classics-frame-1000px.png) no-repeat center center fixed;
    -webkit-background-size: 1000px;
    -moz-background-size: 1000px;
    -o-background-size: 1000px;
    background-size: 1000px;
}

.game-container {
    width: 450px;
    height: 300px;
    background-color: darkseagreen;
    border: 6px solid darkgrey;
}
.row {
    margin: 0;
    height: 24px;
}

.field{

    background-color: black;
    height: 25px;
    width: 25px;
    display: inline-block;
}
.first_enemy{
    background-image: url('images/1.png');
    background-size: contain;
}
.second_enemy{
    background-image: url('images/2.png');
    background-size: contain;
}
.third_enemy{
    background-image: url('images/3.png');
    background-size: contain;
}
.fourth_enemy{
    background-image: url('images/4.png');
    background-size: contain;
}
.player{
    background-image: url('images/player1.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.shoot{
    background-image: url('/static/images/laser2.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.bomb {
    background-image: url('/static/images/enemy-beam3.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.gameoverscreen{
    width: 450px;
    height: 270px;
    background-color: black;
    text-align: center;
    background-image: url('/static/images/gameover.gif');
    background-size: 450px 275px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items:flex-end;
    justify-content:space-around;

}
.winscreen{
    width: 450px;
    height: 268px;
    background-color: black;
    text-align: center;
    background-image: url('/static/images/win.png');
    background-size: 250px 240px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items:flex-end;
    justify-content:space-around;
    animation: intro-flashing 1s ease-in-out infinite alternate;
}
label{
    color: white;
}
.titlemsg{
    margin:0;
}
.subtitle{
    margin:0;
}
.myButton {
    cursor:pointer;
    color: white;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 15px;
    font-family: NokiaFont, sans-serif;
}
.myButton:active{
    cursor:pointer;
    border: 1px solid transparent;
}

.startscreen{
    width: 450px;
    height: 300px;
    background-color: black;
    text-align: center;
    background-image: url('/static/images/start.png');
    background-size: 320px 250px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items:flex-end;
    justify-content:space-around;
    animation: intro-flashing 1s ease-in-out infinite alternate;
}

.board-header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: black;
    background-color: darkgrey;
    padding: 8px 9px 0 9px;
    flex-grow: 1;
    font-family: NokiaFont, sans-serif;
    font-size: 1.2rem;
}
.back-button {
    position: absolute;
    left: 6vw;
    bottom: 6vh;
    width: 50px;
    height: 50px;
}

@keyframes intro-flashing {
  0%   {filter: invert(0);}
  10%  {filter: invert(0);}
  20%  {filter: invert(0);}
  30%  {filter: invert(0);}
  40%  {filter: invert(0);}
  50%  {filter: invert(0);}
  60%  {filter: invert(0%);}
  70%  {filter: invert(25%);}
  80%  {filter: invert(50%);}
  90%  {filter: invert(75%);}
  100% {filter: invert(100%);}
}