@font-face {

}

body {
    margin: 0;
    background-image: url("images/arcade-wallpaper.jpg");

}

.arcade-machine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    bottom: 0;
    position: relative;
    background: url(images/Arcade-Classics-frame-900px.png) no-repeat center center fixed;
    -webkit-background-size: 900px;
    -moz-background-size: 900px;
    -o-background-size: 900px;
    background-size: 900px;

}

.game-container {
    width: 450px;
    height: 300px;
    background-color: darkseagreen;
}
.row {
    margin: 0;
    height: 16px;
}

.field{
    background-color: red;
    height: 16px;
    width: 16px;
    display: inline-block;
}